
.h1-experiences{
  margin-top: 110px;
  color: black;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
body {
  background-color: blue;
}
.div-excur {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-gastro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-work {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-card {
  height: 250px;
  object-fit: cover;
  border-radius: 2%;
}

div .card {
  margin-bottom: 4px;
}

.card, p.card-desc{
  text-align: center;
  color: rgb(121, 121, 121);
  font-size: 22px;
}


.form-heading {
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
  box-shadow: none;
}

.submit-btn {
  border-radius: 30px;
  padding: 10px 30px;
}
////////////////////////////////////////// DIV FORM CREATE EXPERIENCE


.form-container {
  background-color: rgba(224, 228, 231, 0.8); /* O último valor (0.8) controla a opacidade (0 totalmente transparente, 1 totalmente opaco) */
  max-width: 300px;
  margin: 150px 400px;
  padding: 30px;
  border: 1px solid #000000;
  border-radius: 4px;
  color: black;
}

.form-wrapper {
  padding: 2px;
  border-radius: 8px;
  // box-shadow: 2px 2px 10px #ddd;
}

.form-control {
  background: #f9f9f9;
  border-radius: 8px;
  border: none;
}

.actions {
  text-align: center;
}

.btn-primary {
  background-color: #6d5dfc;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;

  &:hover {
     background-color: darken(#6d5dfc, 5%);
  }
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px; /* Adjust the margin as needed */
  font-size: 50%; /* Decrease the font size by 50% */
  color: black; /* Set the text color to black */
}

#excursions, #gastronomy, #workshops {
  text-align: center;
  margin-top: 50px;
  padding-top: 0%;
}

/* Add this CSS to your stylesheet (e.g., app/assets/stylesheets/application.css) */

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; /* Adjust the background color as needed */
  padding: 8px;
  text-align: center;
  border-top: 1px solid #dee2e6; /* Add a border to separate the footer from the content */
}

.float-end {
  float: right;
}
.w-100 {
  width: 30%;
}
.event-detail-container {
  margin-top: 150px;
  width: 45%;
}
.event-detail-title {
  display: flex;
  justify-content: center;
}

.img-card {
  height: 300px;
}
// p .event-detail {
//   display: flex;
// justify-content: center;

// }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card-img-container {
    text-align: center;
  }

  .card-img-container img {
    width: 100%;

  }
