// Specific CSS for your home-page

// .b-example-divider {
//   width: 100%;
//   height: 3rem;
//   background-color: rgb(238, 141, 61);
//   border: solid rgba(0, 0, 0, .15);
//   border-width: 10px 0;
//   box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
// }


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-self: center;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

// div.logo-central-home {
//     display:flex;
//     justify-content: center;
//   }
//   .logo-text-home {
//   margin-top: 0px;
//   display: flex;
//   justify-content: center;
// }



// .logo-container {
//   display: flex;
//   height: 100vh; /* Ajuste conforme necessário */
// }

// .logo-central-home {
//   height: 160px;
//   width: 160px;
//   /* Adicione outros estilos conforme necessário */
// }


.text-white {
  text-wrap: balance;
  font-size: 70;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  // height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.btn-secondary {
  color:#31404B;
  background-color: #27c9dc;
  border: 1px solid #31404B;
  border-radius: 4px;

}


.bd-mode-toggle {
  z-index: 1500;
}
.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.carousel-item img {
  max-height: 500px; /* Ajuste conforme necessário */
  margin: 0 auto;
}

.carousel-item {
  border-bottom: 1px solid #763fe2;
  border-top: 1px solid #763fe2 ;
}
.rounded-circle {
  border: 1px solid #27c9dc;
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-fluid {
  width: 4;
  border-radius: 4px;
  border:1px solid #763fe2;
}

.text-white {
  text-wrap: balance;
  word-break: break-word;
  text-align: center;
}

// .footer-container {
//   text-align: center;
//   margin-top: auto;
// }

p {
  color: gray;

}

.card-category {
  color: #fff;
  height: 300px;
  width: 340px;
  border-radius: 6%;
  object-fit: scale-down;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.bg-home {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url("https://res.cloudinary.com/dop9mb8rc/image/upload/v1711334808/man-5806015_640_neo6kr.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.paragraph-home {
  text-align: center;
}

.mt-custom {
  margin-top: 10rem;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1050px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


//datepicker
