
.h1-lawyers{
  margin-top: 110px;
  color: black;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}

.div-excur {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-gastro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-work {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-card , .carousel-item {
  height: 400px;
  object-fit: cover;
  border-radius: 2%;
}

div .card {
  margin-bottom: 4px;
  border-radius: 4px;
  border: 2px solid rgba(238, 238, 238, 0.8);
}

.card, p.card-desc{
  // text-align: center;
  color: rgb(121, 121, 121);
  font-size: 22px;

}
p.card-desc {
  padding:  4px 4px;
}
p {
  margin-top: 4px;
  margin-bottom: 1rem;
}
.form-heading {
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
  box-shadow: none;
}

.submit-btn {
  border-radius: 30px;
  padding: 10px 30px;
}
////////////////////////////////////////// DIV FORM CREATE EXPERIENCE
.form-container {
  background-color: rgba(224, 228, 231, 0.8); /* O último valor (0.8) controla a opacidade (0 totalmente transparente, 1 totalmente opaco) */
  max-width: 300px;
  margin: 150px 400px;
  padding: 30px;
  border: 1px solid #000000;
  border-radius: 4px;
  color: black;
}
.form-container-create {
    background-color: rgba(238, 238, 238, 0.8);
    max-width: 50%;
    margin: 7% 24%;
    padding: 30px;
    border: 1px solid rgba(177, 177, 177, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: black;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 0.85rem 8.5rem;
  font-size: 30px;
  line-height: 1.5;
  border-radius: 0.2rem;
  height: 100%;
  width: 30%;
}

// .col-md-12 {
//   height: 50px;
//   display: flex;
//   justify-content: center;
// }

// .col-3 {
//   margin-bottom: 30px;
//   flex-grow: 2;
// }


.h1-create {
  display: flex;
  justify-content: center;

}
.form-wrapper {
  padding: 2px;
  border-radius: 8px;
  // box-shadow: 2px 2px 10px #ddd;
}

.form-control {
  background: #f9f9f9;
  border-radius: 8px;
  border: none;
}


.btn-primary {
  background-color: #6d5dfc;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;

  &:hover {
  background-color: darken(#6d5dfc, 5%);
  }
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px; /* Adjust the margin as needed */
  font-size: 50%; /* Decrease the font size by 50% */
  color: black; /* Set the text color to black */
}

#excursions, #gastronomy, #workshops {
  // font-family: "Nunito Sans", "Helvetica", "sans-serif";
  text-align: center;
  margin-top: 50px;
  padding-top: 0%;
}

.footer-container {
  width: 100%;
  background-color: #f8f9fa; /* Adjust the background color as needed */
  padding: 2px; /* Increase padding for spacing */
  text-align: center;
  border-top: 1px solid #dee2e6; /* Add a border to separate the footer from the content */
}

.float-end {
  float: right;
}
// .w-100 {
//   width: 30%;
// }
.event-detail-container {
    margin: 10% auto;
    width: 50%;
}

.event-detail-title {
  display: flex;
  justify-content: center;
}

.event-detail {
  font-size: 20px;
  color: #6d5dfc;
  display: flex;
  justify-content:left;

}

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
  }

  .card-img-container {
    text-align: center;

  }

  .card-img-container img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 2px solid rgba(238, 238, 238, 0.8);
    width: 100%;
    object-fit: cover;
  }

  // checkout Lawyers

.checkout-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;

    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    }

    .btn-submit {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        }
    }

  .see-all-lawyers {
  // font-family: "Nunito Sans", "Helvetica", "sans-serif";
  margin-top: 1.5rem !important;
  display: inline-block;
  // border: 1px solid #31404B;
  color: #a3a3a3;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 0;
  // margin: 3px 3px;
  border-radius: 4px;
}
// .see-more-lawyers {
//   border-radius: none;
// }
