   <footer class="footer-container fixed-bottom h-1">
      <%# <p>&copy; 2023 My Welcome </p> %>
    <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Making Every City Feel Like Home <i class="fas fa-heart"></i> <a href="#">MyWelcome</a>
  </div>
</div>
 </footer>
