
.footer-container {
  width: 100%;
  background-color: #f8f9fa;
  padding: 2px;
  text-align: right; /* Align the text to the right */
  border-top: 1px solid #dee2e6;
}

footer {
  position: fixed;
  bottom: 0;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
