.navbar-mw{
  justify-content: space-between;
  background:#31404B;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-mw .navbar-collapse {
  flex-grow: 0;
}
.navbar-mw .navbar-brand img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.links-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  margin-left: 400px;
}
.links-navbar  a {
  color: white;
  text-decoration: none;
}

.links-navbar a:nth-child(1) {
  margin-right: 20px;
}
.links-navbar a:nth-child(2) {
  margin-right: 20px;
}
a .avatar {
  border: 1px solid  #763FE2;
  height: 60px;
  width: 60px;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
