.navbar-mw{
  justify-content: space-between;
  background:#31404B;
  height: 90px;

}

.messages-d-none{
 display: none;
}


.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-mw .navbar-collapse {
  flex-grow: 0;
}
.navbar-mw .navbar-brand img {
  width: 80px;
  height: 80px;
  // border-radius: 50%;
}
.links-navbar {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  gap: 15em;
  margin-left: 10%;

}

 .links-navbar a:hover,
.links-navbar a:focus {
  text-decoration: none;
  color: yellow;
 /* Add hover and focus styles here */
}
.links-navbar  a {
  color: white;
}
.navbar-light .navbar-nav .nav-link  {
  color: #fff;
}

.links-navbar a:nth-child(1) {
  margin-right: 20px;
}
.links-navbar a:nth-child(2) {
  margin-right: 20px;
}
a .avatar {
  border: 1px solid  #763FE2;
  height: 60px;
  width: 60px;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}







// .links-navbar a:hover,
// .links-navbar a:focus {
//   /* Add hover and focus styles here */
// }
// .links-navbar  a {
//   color: white;
//   text-decoration: none;
// }

// .links-navbar a:nth-child(1) {
//   margin-right: 20px;
// }
// .links-navbar a:nth-child(2) {
//   margin-right: 20px;
// }
// a .avatar {
//   border: 1px solid  #763FE2;
//   height: 60px;
//   width: 60px;
// }
// .navbar-nav {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
