.navbar-mw {
  // justify-content: space-between;
  // background:#31404B;
  // background-color: #f8f9fa;
  background-color: #01385D;
  height: 120px;
  padding: 0 20px;
}

.navbar-mb {
  background-color:#01385D !important;
}

.poppins-font {
  font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins */
}

.text-color {
  color: #FFFFFF !important;
}

.bi-search::before {
  content: "\f52a";
  font-size: 20px;
}

.fixed-nav {
  position: fixed;
  top: 0;
  margin-bottom: 65px;
  width: 100%;
  z-index: 1;
  transition: transform 0.3s;
}

.hidden {
  transform: translateY(-100%);
}

.hide {
  display: none;
}

.messages-d-none{
  display: none;
}

.navbar-mw .navbar-collapse {
  flex-grow: 0;
}

.navbar-mw .navbar-brand img {
  width: 80px;
  height: 80px;
  // border-radius: 50%;
}

.links-navbar {
  font-size: 20px;
  // justify-content: space-between;
  align-items: center;
  // gap: 2em;
  // margin-left: 33px;

  a{
    text-decoration: none;
  }

}

.links-navbar a:nth-child(1) {
  margin-right: 20px;
}

.links-navbar a:nth-child(2) {
  margin-right: 20px;
}

.avatar {
  margin-right: 16px;
  width: 40px;
  border-radius: 50%;

}

a .avatar {
  border: 1px solid #DFB72E;
  height: 60px;
  width: 60px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-search {
  border: none;
  background-color: none;
}

.custom-search input[type="search"] {
  border: 1px solid #FFFFFF;
  background-color: none;
  width: 80%;
}

.mx-links {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 80px;
}

/* Adiciona mais margem ao redor do link de login */
.login-link {
  margin: 10px;
}

/* Aumenta o tamanho da fonte do link de login */
.login-link {
  font-size: 16px;
}

/* Altera a cor do texto do link de login */
.login-link {
  color: #FFFFFF; /* Cor preta */
}

/* Adiciona margem ao redor do link de login */
.login-link {
  margin: 2%;
}

/* Define o tamanho da fonte do link de login */
.login-link {
  font-size: 1.2em; /* 1.2 vezes o tamanho padrão da fonte */
}

// Alterações específicas Felipe



.nav-link-custom {
  color: #FFFFFF !important;
  font-size: 18px !important;
}

.navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  color: #fffffff1;
  background: transparent;
  border: 0;
  font-size: 20px;
}

.menu-off {
  display: none;
}

.menu-on {
  background-color: #01385d;
  position: absolute;
  right: 0;
  top: 120px;
}

@media (min-width: 1200px) {

  .hamburger {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .colapso {
    display: flex;
  }

  .me-custom {
    margin-right: 182px;
  }

  /* Define a cor de fonte branca para os links */
  .nav-link-custom {
    color: #FFFFFF !important;
  }

  /* Define o estilo de hover dos links */
  .nav-link-custom:hover {
    color: #0d6efd !important; /* Azul padrão do Bootstrap */
  }

  /* Aumenta a fonte dos links na navbar */
  .navbar-nav .nav-link-custom {
    font-size: 18px; /* ou outro tamanho de fonte de sua preferência */
  }


}
