<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindo ao Conexão Advogados</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .blue-text {
      color: blue;
    }
    h1 {
      margin-top: 60px;
      margin-bottom: 26px;
    }
    .container {
      display: flex;
      align-items: center;
    }
    img {
      max-width: 100%;
      max-height: 60vh; /* Altura máxima da imagem */
    }
    .bottom-space {
      margin-bottom: 150px; /* Espaçamento no final da página */
    }
    .content {
      display: flex;
      flex-wrap: wrap; /* Permite que os elementos quebrem linha em telas menores */
    }
    .text {
      flex: 1;
      padding-right: 20px;
      margin-bottom: 20px; /* Espaçamento entre os elementos */
      text-align: justify; /* Justifica o texto */
    }
    .image {
      flex: 1;
      margin-top: 20px; /* Margem superior em relação ao botão */
      margin-bottom: 20px; /* Margem inferior em relação ao botão */
    }

    /* Define que o texto e a imagem ocupem toda a largura em telas menores ou igual a md */
    @media (max-width: 1500px) {
      .text, .image {
        flex: 100%;
        max-width: 100%;
      }
    }

    /* Define o botão para estar centralizado em telas maiores que 1300px */
    @media (min-width: 1500px) {
      .text-center {
        text-align: center;
      }
    }
  </style>
</head>
<body>
  <header>
    <h1>Torne-se um Advogado Conectado</h1>
  </header>
  <main class="content">
    <div class="text">
      <p>No <span class="blue-text">Conexão Advogados</span>, oferecemos aos advogados uma plataforma dinâmica e eficaz para expandir sua base de clientes e ampliar suas oportunidades profissionais. Com um perfil ativo em nossa plataforma, os advogados têm acesso a uma ampla gama de clientes em busca de assistência jurídica.</p>
      <p>Ao pagar uma mensalidade, os advogados garantem a visibilidade de seu perfil para potenciais clientes, permitindo que sejam encontrados com facilidade com base em sua especialização e localização geográfica. Quando ocorre uma conexão bem-sucedida entre o advogado e o cliente, uma taxa será cobrada do advogado após cada conexão realizada, garantindo assim um modelo de negócio justo e sustentável para ambas as partes.</p>
      <p>Seja para correspondência, consultoria ou representação legal em processos, os advogados podem se conectar diretamente com clientes que necessitam de seus serviços.</p>
      <p>Além disso, o <span class="blue-text">Conexão Advogados</span> oferece a oportunidade de expandir o alcance de sua prática além das fronteiras estaduais, conectando-os a clientes em diferentes regiões do país para audiências e diligências.</p>
      <p>Ao se tornar um membro ativo do <span class="blue-text">Conexão Advogados</span>, os profissionais jurídicos podem desfrutar de uma plataforma simplificada e eficiente para expandir sua carteira de clientes e impulsionar sua carreira.</p>
      <p>Junte-se a nós hoje mesmo e descubra como o <span class="blue-text">Conexão Advogados</span> pode ser a chave para o crescimento e sucesso de sua prática jurídica.</p>
    </div>
    <div class="image">
      <img src="https://res.cloudinary.com/dop9mb8rc/image/upload/v1711296264/pexels-photo-7693241_zfr9gq.jpg" alt="Imagem" />
      <div class="text-center">
        <a href="#" class="btn btn-primary btn-lg fs-4">Cadastre-se Aqui</a>
      </div>
    </div>
  </main>
  <div class="bottom-space"></div>
</body>
</html>
