// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Assuming the file is named _variables.scss
// @import 'variables';


/////////////////////////////////////////////////    TITLES EXPERIENCE
#excursions,#gastronomy,#workshops {
  color: #000000;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

 /////////////////////////////////////////////// REGISTRATION
.row {
  margin-top: 40px;
}
 ///////////////////////////////////////////////  LOGIN
h1 {
  color: #000000;
}

h2.login{

  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: #fff;
}

.form-control {
  border: 0.5px solid black;
  border-radius: 4px;
}

.form-inputs {
  background-color: rgba(224, 228, 231, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px 600px 0px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}


.custom-input {
  border-radius: 4px;
  padding: 15px 100px;
}
.custom-button {
  background-color: green;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

////////////////////////////////   SIGN UP

.sign-up {
  display: inline-block;
  border:1px solid #31404B;
  color: black;
  text-decoration: none;
  padding: 6px 12px;
  margin: 12px 0;
  border-radius: 4px;

.sign-up-div {
  margin-top: 50px;
  text-align: center;
}
}


.forgot-pass-div {
  text-align: center;
}

.login-form::before {
  height: 0 !important;
}
/////////////////////////////////  FORGOT PASSWORD

.form-inputs-forgot-pass {
    background-color: rgba(224, 228, 231, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 250px 600px 0px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}
.forgot-password {
  color:#31404B;
  text-decoration: none;

  &:hover {
    color: #587386;
    text-decoration: none;
  }
}

.form-actions-forgot-pass{
  display: flex;
  justify-content: center;
}

.forgot-pass-div {
  margin: 0px;
}
.custom-button:hover {
  background-color: darkgreen;
}
/////////////////////////////////////    LOGIN FORM
div .login-form {
  margin-top: 50%;
  background-color: rgba(233, 233, 233, 0.8);
}

.login-form {
  background-color: rgba(233, 233, 233, 0.8);
  width: 642px;
  margin: 218px auto;
  padding: 30px 60px;
  /* border: 1px solid #c4c4c4; */
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#btn-login {
  background-color:#31404B;
  color: #fff;
}

.login-form::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.col-3 {
  flex-grow: 2;
}

body {
  margin-top: 100px;
  min-height: 100vh;
}

.actions {
  // text-align: center;
  align-items: center;
}

.footer-top {
  margin-top: 150px;
}
.footer {
  height: 70px;
}

.form-control {
  background: #f9f9f9;
  border-radius: 4px;
  border: none;
}

.btn-primary {
  background-color: #F9BA3D;
  border: none;
  font-weight: 600;

  &:hover {
    background-color: darken(#6d5dfc, 5%);
  }
}
/////////////////////////////// BUTTON  CANCEL ACCOUNT
.div-cancel {
  text-align: center;
  margin-top: 5px;
}
.div-cancel button {
  background-color:#31404B;
  color:#fff;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 5px;
  margin-top: 20px;
  &:hover {
    color: #587386;
    text-decoration: none;
  }
}
.cancel-button a, .back-button a {
  cursor: pointer;
  text-decoration: none;
}
#edit-profile {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  color: #000000;
}
