// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Assuming the file is named _variables.scss
// @import 'variables';


// body {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   position: relative;
//   background-image: url('Logo.png');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// body::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.8); /* Ajuste o último valor para controlar a opacidade do overlay */
//   z-index: -1; /* Garante que o overlay fique atrás do conteúdo da página */
// }

/////////////////////////////////////////////////    TITLES EXPERIENCE
#excursions,#gastronomy,#workshops {
  color: #000000;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

 /////////////////////////////////////////////// REGISTRATION
.row {
  margin-top: 40px;
}
 ///////////////////////////////////////////////  LOGIN
h1 {
  color: #000000;
}

h2.login{

  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: #fff;
}

.form-control {
  border: 0.5px solid black;
  border-radius: 4px;
}

.form-inputs {
  background-color: rgba(224, 228, 231, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 600px 0px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.custom-input {
  border-radius: 4px;
  padding: 15px 100px;
}
.custom-button {
  background-color: green;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
////////////////////////////////   SIGN UP
.sign-up-div {
  margin-top: 50px;
}
.sign-up {
  color: black;
  background-color: rgb(0, 81, 255);
  text-decoration: none;
  border: 1px solid black;
  padding: 20px 40px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.login-form::before {
  height: 0 !important;
}
/////////////////////////////////  FORGOT PASSWORD
.forgot-password {
  color: black;
  background-color: rgb(233, 167, 45);
  text-decoration: none;
  border: 1px solid black;
  padding: 20px 40px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.forgot-pass-div {
  margin: 60px;
}
.custom-button:hover {
  background-color: darkgreen;
}
/////////////////////////////////////    LOGIN FORM
///
///
///
///
///
///
div .login-form {
  margin-top: 50%;
  background-color: rgba(233, 233, 233, 0.8);
}

.login-form {
  background-color: rgba(233, 233, 233, 0.8);
  width: 642px;
  margin: 218px auto;
  padding: 30px 60px;
  /* border: 1px solid #c4c4c4; */
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.footer-top {
  margin-top: 100px;
}

// body {
//   display: table;
//   width: 100%;
// }

// body > footer {
//    display: table-row;
// }


// #page-container {
//   position: relative;
//   min-height: 100vh;
// }

// #content-wrap {
//   padding-bottom: 2.5rem;    /* Footer height */
// }

// #footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 2.5rem;            /* Footer height */
// }

// .form-wrapper {
//   background: white;
//   padding: 20px;
//   border-radius: 10px;
//   box-shadow: 2px 2px 10px #ddd;
// }

.form-control {
  background: #f9f9f9;
  border-radius: 4px;
  border: none;
}

.btn-primary {
  background-color: #f03800;
  border: none;
  font-weight: 600;

  &:hover {
    background-color: darken(#6d5dfc, 5%);
  }
}
/////////////////////////////// BUTTON  CANCEL ACCOUNT
.div-cancel {
  text-align: center;
  margin-top: 5px;
}
.div-cancel button {
  background-color: #fdc086;
  color: rgb(7, 7, 7);
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 5px;
  margin-top: 50px;
}
.cancel-button a, .back-button a {
  cursor: pointer;
  text-decoration: none;
}

// .float-end  a{
//   text-decoration: none;
//   color:rgb(0, 0, 0);
//   border:1px solid black;
//   width: 30px 30px;
//   background-color: #d6d6d6;
//   margin-right: 80px;
//   padding: 8px 18px;
//   border-radius: 4px;
//   font-size: 14px;

// }
