// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin-top: calc(33vh - 50px); /* Ajusta a margem superior para centralizar */
  background-color: rgb(238, 90, 22);
}

.form-control {
  border: 0.5px solid black;
  border-radius: 4px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 600px 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.custom-input {
  border-radius: 4px;
  padding: 15px 100px;
}
.custom-button {
  background-color: green;
  color:black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 16px; /* Ajuste conforme necessário */
  cursor: pointer;
}
.sign-up-div {
  margin-top:530px;
}
.sign-up {
  color: black;
  background-color: rgb(0, 81, 255);
  text-decoration: none;
  border: 1px solid black;
  padding:20px 40px;
  margin-bottom: 4px;
  border-radius: 4px;

}
.forgot-password {
  color: black;
  background-color: rgb(233, 167, 45);
  text-decoration: none;
  border: 1px solid black;
  padding:20px 40px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.forgot-pass-div {
  margin:60px;
}

.custom-button:hover {
  background-color: darkgreen; /* Cor ao passar o mouse */
}


// .custom-label {
//   font-size: 16px; /* Tamanho da fonte para o rótulo */
//   color: #333; /* Cor do texto do rótulo */
// }

// /* Estilos para o wrapper do input */
// .custom-input-wrapper {
//   margin-bottom: 10px; /* Margem inferior para separação entre os campos */
// }

// /* Estilos para o input */
// .custom-input {
//   width: 40%; /* Largura total do input */
//   padding: 8px; /* Espaçamento interno no input */
//   font-size: 14px; /* Tamanho da fonte do input */
//   border: 1px solid #ccc; /* Borda do input */
//   border-radius: 4px; /* Borda arredondada */
// }

// /* Estilos para o botão */
// .custom-button {
//   background-color: #007bff; /* Cor de fundo do botão */
//   color: #fff; /* Cor do texto do botão */
//   padding: 10px 15px; /* Espaçamento interno no botão */
//   font-size: 16px; /* Tamanho da fonte do botão */
//   border: none; /* Remove a borda do botão */
//   border-radius: 4px; /* Borda arredondada */
//   cursor: pointer; /* Cursor ao passar o mouse sobre o botão */
// }

// .custom-button:hover {
//   background-color: #0056b3; /* Cor de fundo ao passar o mouse sobre o botão */
// }
