<%# app/views/appointments/new.html.erb %>

<%= simple_form_for(@appointment) do |f| %>

  <%# Display any error messages %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%# <%= f.association :experience, collection: Experience.all, prompt: "Choose an Experience", value_method: :id, include_blank: false %> %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
